@page "/users/crear"
@page "/users/editar/{Id:int}"
<EditForm Model="@Usuario" OnValidSubmit="Send">
<h1>@Titulo</h1>
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <div class="row g3">
            <div class="col-md-6 col-lg-6">
                <label>Nombre</label>
                <InputText class="form-control" @bind-Value="Usuario.Name"></InputText>
            </div>
            <div class="col-md-6 col-lg-6">
                <label>Nickname</label>
                <InputText class="form-control" @bind-Value="Usuario.Nickname"></InputText>
            </div>
            <div class="col-md-6 col-lg-6">
                <label>Password</label>
                <InputText class="form-control" @bind-Value="Usuario.Password"></InputText>
            </div>
            <div class="col-md-6 col-lg-6">
                <label>Rol</label>
                <select @bind="@Usuario.UsuarioRolId" class="form-select" id="validationDefault01">
                <option selected disabled value="">Elegir...</option>
                <option selected value="1">1</option>
                </select>
            </div>
        </div>
    </div>
    
    
    <button type="submit" class="mt-2 btn btn-success">Ok</button>
</EditForm>

@code
{
[Parameter]
public int Id { get; set; } = 0;

public string Titulo => Id>0? "Editar rol":"Crear usuario";

public UsuarioUpdateRequest Usuario { get; set; } = new UsuarioUpdateRequest();

protected override async Task OnInitializedAsync()
{
    if(Id!=0){
        var resultado = await usuariosManager.GetByIdAsync(Id);
        if(resultado.Succeeded){
            Usuario.Id = resultado.Data.Id;
            Usuario.Name = resultado.Data.Name;
            Usuario.Nickname = resultado.Data.Nickname;
            Usuario.Password = resultado.Data.Password;
            StateHasChanged();
        }
    }
}
        
public async void Send()
{
    var resultado = await usuariosManager.CreateAsync(Usuario);

    if(resultado.Succeeded) urlHelper.NavigateTo("/users");

}

}

