@page "/users"
<h1>Usuarios</h1>
<button class="btn btn-outline-primary" @onclick="Agregar">Agregar</button>
@if(Usuarios != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Nickname</th>
                <th>Rol</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Usuarios){
            <tr>
                <td>@usuario.Id</td>
                <td>@usuario.Name</td>
                <td>@usuario.Nickname</td>
                <td>@usuario.UsuarioRol.Nombre</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-warning" @onclick="()=>Editar(usuario.Id)">

                            <span class="oi oi-pencil"></span>
                        </button>
                        <button class="btn btn-danger">
                            <span class="oi oi-trash"></span>
                        </button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Cargando..</p>
}

@code
{
    public List<UsuarioRecord>? Usuarios { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var response = await usuariosManager.GetAsync();
        if(response.Succeeded){
            Usuarios = response.Items.ToList();
        }
    }

    public void Agregar()
    {
        urlHelper.NavigateTo("/users/crear",false);
    }
    public void Editar(int Id)
    {
        urlHelper.NavigateTo($"/users/editar/{Id}",false);
    }
}


